body {
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    padding: 0 10px;
    background-color: #974b97;
    border-bottom: 1px solid #3f1f3f;
    margin-bottom: 10px;
}

header #cart-button {
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: #242424;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
}

header #cart-button:hover {
    filter: brightness(1.3);
}

#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-container {
    display: flex;
    font-family: sans-serif;
    flex-wrap: wrap;
    margin-top: 50px;
}

#list-container .item {
    display: flex;
    padding: 15px 10px;
    margin: 5px;
    border: 1px solid #829370;
    box-shadow: 1px 1px 5px #0000006c;
    background-color: #d9f0c0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

#list-container .item:hover {
    filter: brightness(1.05);
}

#list-container .item img {
    max-width: 150px;
    margin-right: 10px;
    border-radius: 3px;
}

#list-container .item .info div {
    margin: 5px 0;
    word-wrap: break-word;
    max-width: 300px;
}

#list-container .item .info div span {
    font-weight: bold;
}