<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
    <base href="Source/View/">
    <script type="module" src="js/register.js" async></script>
</head>
<body>
    <label>Nome: <input id="name"></label>
    <label>Email: <input id="email"></label>
    <label>Senha: <input id="password"></label>
    <button>Cadastrar</button>
</body>
</html>