<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <base href="Source/View/">

    <link rel="stylesheet" href="css/index.css">

    <script type='text/javascript' src='https://livejs.com/live.js' async></script>
    <script type='module' src='js/index.js' async></script>
</head>
<body>
    <div id="carousel-container"></div>
    <div id="list-container"></div>
</body>
</html>