<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <base href="Source/View/">

    <link rel="stylesheet" href="css/index.css">

    <!-- <script type='text/javascript' src='https://livejs.com/live.js' async></script> -->
    <script type='module' src='js/index.js' async></script>
</head>
<body>
    <h1>Minha Página</h1>
    
    <section id="getall">
        <button>Request all products</button>
    </section>

    <section id="get">
        <input id="pid" type="text" placeholder="id">
        <button>Request single product</button>
    </section>
    
    <section id="insert">
        <input id="name" type="text" placeholder="name">
        <input id="description" type="text" placeholder="description">
        <input id="price" type="text" placeholder="price">
        <input id="quantity" type="text" placeholder="quantity">
        <input id="image" type="text" placeholder="image url">
        <button id="insert">Insert new product</button>
    </section>

    <section id="change">
        <input id="id-change" type="text" placeholder="id">
        <input id="name" type="text" placeholder="name">
        <input id="description" type="text" placeholder="description">
        <input id="price" type="text" placeholder="price">
        <input id="quantity" type="text" placeholder="quantity">
        <input id="image" type="text" placeholder="image url">
        <button>Change product info</button>
    </section>
</body>
</html>